body {
	background: #efefef;
}

article {
	width: 22cm;
	margin: 0.5cm auto;
	padding: 1cm;
	position: relative;
	
	font-family: 'PT Serif', Serif;
	font-size: 14pt;
	
	background: #fff;
	box-shadow: 0 0 10px rgba(0,0,0,0.3);
}

p {
	text-align: justify;
	hyphens: auto;
}

sub {
	font-size: 12pt;
}

table {
	width: 100%;
}

table, th, td {
	font-size: 11pt;
	text-align: left;
	padding: 1pt;
	border-collapse: collapse;
	border: 1px solid black;
}

th {
	border-bottom: 2px solid black;
	border-right: 2px solid black;
}

th:last-child {
	border-right: none;
}

td:last-child {
	border-right: none;
}

tr:last-child {
	border-right: none;
}

@media only screen and (max-width: 25cm) {
	article {
		width: 90%;
	}
}